<header>
    <nav>
        <a class="link" href="/posts">Posts</a>
        <a class="link" href="/users">Users</a>
        <a class="link" href="/users/create">Create-Users</a>
        <a class="link" href="/posts/create">Post-Users</a>
    </nav>
</header>