/* Add your styles here. */
.headings{
    color: rgba(197, 38, 38, 0.716);
    font-size: 30px;
    margin-top: 100px;
    /* margin-bottom: 50px; */
    text-align: left;
}
h1{
    margin-top: 50px;;
    color:white;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

h3{
    color:brown;
}
button{
    color: blue;
    background-color: rgb(168, 168, 221);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
p{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(205, 21, 205);
}

button:hover{
    color: purple;
    background-color:rgb(207, 153, 207) ;

}
a{
    text-decoration: none;
    color:blue;
}


.postImage{
    max-width: 250px;
    background: rgb(242, 228, 249);
    padding: 10px ;
    border: 4px solid rgb(23, 1, 46);
    border-radius: 10px;
    margin-top: 5px
    
}

#message{
    font-style: italic;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(222, 166, 14);
}

nav{
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(73, 3, 86);
    padding:10px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    
}
#nav-link{
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    background-color:black;
    padding:10px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}
.link2{
    color:white;
}
.link{
    color:rgb(73, 3, 86);
    background-color:blanchedalmond;
    padding:5px;
    border: 2px solid rgb(54, 33, 1);
    border-radius: 5px 20px;
}
.container1{
    display:flex;

}
.count{
    color:rgb(4, 69, 17);
}
.post{
    color:rgb(5, 174, 174);
}
.container2{
    display:grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 100px;
   
}
.container3{
    display:grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 100px;

}
.user{
    background-color:rgb(16, 2, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1mm;
    position:relative;

}
#profImage{
    
    border-radius: 200px;
    position:absolute;
    top:350px;
    left:250px;
  
}
#covImage{
   
    display: block;
    width: 80%;
    align-self: center;
    
    
}
.container4{
    display:flex;
    flex-direction: column;
    width:100%;
}
.container5{
    margin-top:150px;
    display:grid;
    grid-template-columns: repeat(4, 22.5%);
    grid-gap: 30px;
    grid-area: auto;
    justify-content: center;
    text-align: center;
    color:white;
    
}

.userimage{
   
    width:300px;
    height:350px;
 
}
.subContainer5{
    align-content: center;
    padding: 15px;
    border: 3px solid slategrey;
    border-radius: 20px;
    margin-left: auto;  
    margin-top: auto;

 
}

@media only screen and (max-width:821px){
    #nav-link{
        display: none;
    }
    .link3{
        display:flex;
        flex-direction: column;
        font-size: 20px;
        align-items: flex-end;
        justify-content: space-around;
        font-family: 'Times New Roman', Times, serif;
        color: white; 
        margin-top:30px;
        
    }
   
    
}
@media only screen and(min-width:821px) {
    #menu{
        display:none;
    }
    
}
#trybutton{
    background-image: linear-gradient(to right, #623bee 0%, #d0a0ff 51%, #e6d5fb 100%);    
    /* transition:all is ease; */
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    margin: 5px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu{
    display: flex;
    padding:2.5px;
    color:white;
    position:fixed;
    top:5px;
    right:10px;
    font-size: 20px;
    z-index: 2;
}

